extends layout

block styles
    link(rel='stylesheet', href='/css/form.css')

block content
    - data = data || {}

    .container
        if errors
            ul.my-errors
                for error in errors
                    li= error.msg
        
        h2 Register to subscribe
        
        form(action="." method="POST" class="form-registration")
            label(for="name") Name:
            input(
                type="text"
                id="name"
                name="name"
                class=""
                value=data.name
            )

            label(for="email") Email:
            input(
                type="email"
                id="email"
                name="email"
                class=""
                value=data.email
            )

            label(for="username") Username:
            input(
                type="text"
                id="username"
                name="username"
                class=""
                value=data.username
            )

            label(for="password") Password:
            input(
                type="password"
                id="password"
                name="password"
                class=""
                value=data.password
            )

            input(
                type="submit" 
                value="Register"
                class="submit-buttton"
            )